body{
	font-family: Arial;
	margin: 0;
	padding: 0;
}

.container{
	display: grid;
	grid-template-columns: repeat(7, 1fr);
	grid-template-rows: repeat(2, 200px);
	grid-gap: 5px;
	height: 100vh;
}

.item{
	background: teal;
	border: 1px solid tomato;
	color: #fff;
	padding: .5em;
	text-align: center;
}

.item:nth-of-type(1){
	grid-column: 1 / span 3;
	grid-row: 1 / span 2;
}

.item:nth-of-type(2){
	grid-column: 4 / span 2;
	grid-row: 1 / span 2;
}

.item:nth-of-type(3){
	grid-column: 6 / span 2;
}